@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
}

.app {
    font-family: 'Roboto', sans-serif;

    background-image: url("./img/Munnar4.jpg");

    /* Full height */
    height: 1000px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

